body {
    background-color: rgb(84, 86, 184);
}

h1 {
    text-align: center;
    color: rgb(0, 0, 0);
    margin-top: 0px;
    font-family: 'Arial', sans-serif;
}
.container {
    width: auto;
    margin: 80px;
    padding: 30px;  
    border-radius: 10px;
    border: 2px solid #ddd;
    font-family: Arial, sans-serif;
    background-color: white;
}

.grid-ikan {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 15px;
}

.card {
    border: 1px solid #ddd;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
}

.card img {
    width: 100%;
    height: 150px;
    border-radius: 5px;
    object-fit: cover;
}

.harga {
    font-weight: bold;
}