body {
    background-color: #5456b8;
}

h1 {
    text-align: center;
    color:  #5456b8;
    margin-top: 0px;
    font-family: 'Arial', sans-serif;
}
.container {
    width: auto;
    margin: 30px;
    padding: 30px;  
    border-radius: 15px;
    font-family: Arial, sans-serif;
    background-color: white;
}

.grid-ikan {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 0px;
}

.card {
    padding: 8px;
    text-align: left;
    cursor: pointer;
}

.card img {
    width: 100%;
    height: 150px;
    border-radius: 10px;
    object-fit: cover;
}

.harga {
    font-weight: bold;
}
